<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>15年3月1日利率下限(7折)-2</key>
	<array>
		<dict>
			<key>1年(12期)</key>
			<string>3.5%</string>
		</dict>
		<dict>
			<key>2年(24期)</key>
			<string>3.5%</string>
		</dict>
		<dict>
			<key>3年(36期)</key>
			<string>3.5%</string>
		</dict>
		<dict>
			<key>4年(48期)</key>
			<string>3.5%</string>
		</dict>
		<dict>
			<key>5年(60期)</key>
			<string>3.5%</string>
		</dict>
		<dict>
			<key>6年(72期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>7年(84期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>8年(96期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>9年(108期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>10年(120期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>11年(132期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>12年(144期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>13年(156期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>14年(168期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>15年(180期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>16年(192期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>17年(204期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>18年(216期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>19年(228期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>20年(240期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>21年(252期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>22年(264期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>23年(276期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>24年(288期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>25年(300期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>26年(312期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>27年(324期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>28年(336期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>29年(348期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>30年(360期)</key>
			<string>4.0%</string>
		</dict>
	</array>
	<key>15年3月1日利率下限(85折)-2</key>
	<array>
		<dict>
			<key>1年(12期)</key>
			<string>3.5%</string>
		</dict>
		<dict>
			<key>2年(24期)</key>
			<string>3.5%</string>
		</dict>
		<dict>
			<key>3年(36期)</key>
			<string>3.5%</string>
		</dict>
		<dict>
			<key>4年(48期)</key>
			<string>3.5%</string>
		</dict>
		<dict>
			<key>5年(60期)</key>
			<string>3.5%</string>
		</dict>
		<dict>
			<key>6年(72期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>7年(84期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>8年(96期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>9年(108期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>10年(120期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>11年(132期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>12年(144期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>13年(156期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>14年(168期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>15年(180期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>16年(192期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>17年(204期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>18年(216期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>19年(228期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>20年(240期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>21年(252期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>22年(264期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>23年(276期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>24年(288期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>25年(300期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>26年(312期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>27年(324期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>28年(336期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>29年(348期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>30年(360期)</key>
			<string>4.0%</string>
		</dict>
	</array>
	<key>15年3月1日利率上限(1.1倍)-2</key>
	<array>
		<dict>
			<key>1年(12期)</key>
			<string>3.5%</string>
		</dict>
		<dict>
			<key>2年(24期)</key>
			<string>3.5%</string>
		</dict>
		<dict>
			<key>3年(36期)</key>
			<string>3.5%</string>
		</dict>
		<dict>
			<key>4年(48期)</key>
			<string>3.5%</string>
		</dict>
		<dict>
			<key>5年(60期)</key>
			<string>3.5%</string>
		</dict>
		<dict>
			<key>6年(72期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>7年(84期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>8年(96期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>9年(108期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>10年(120期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>11年(132期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>12年(144期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>13年(156期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>14年(168期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>15年(180期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>16年(192期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>17年(204期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>18年(216期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>19年(228期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>20年(240期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>21年(252期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>22年(264期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>23年(276期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>24年(288期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>25年(300期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>26年(312期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>27年(324期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>28年(336期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>29年(348期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>30年(360期)</key>
			<string>4.0%</string>
		</dict>
	</array>
	<key>15年3月1日基准利率-2</key>
	<array>
		<dict>
			<key>1年(12期)</key>
			<string>3.5%</string>
		</dict>
		<dict>
			<key>2年(24期)</key>
			<string>3.5%</string>
		</dict>
		<dict>
			<key>3年(36期)</key>
			<string>3.5%</string>
		</dict>
		<dict>
			<key>4年(48期)</key>
			<string>3.5%</string>
		</dict>
		<dict>
			<key>5年(60期)</key>
			<string>3.5%</string>
		</dict>
		<dict>
			<key>6年(72期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>7年(84期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>8年(96期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>9年(108期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>10年(120期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>11年(132期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>12年(144期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>13年(156期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>14年(168期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>15年(180期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>16年(192期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>17年(204期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>18年(216期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>19年(228期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>20年(240期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>21年(252期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>22年(264期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>23年(276期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>24年(288期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>25年(300期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>26年(312期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>27年(324期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>28年(336期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>29年(348期)</key>
			<string>4.0%</string>
		</dict>
		<dict>
			<key>30年(360期)</key>
			<string>4.0%</string>
		</dict>
	</array>
	<key>15年3月1日利率下限(7折)</key>
	<array>
		<dict>
			<key>1年(12期)</key>
			<string>3.75%</string>
		</dict>
		<dict>
			<key>2年(24期)</key>
			<string>4.03%</string>
		</dict>
		<dict>
			<key>3年(36期)</key>
			<string>4.03%</string>
		</dict>
		<dict>
			<key>4年(48期)</key>
			<string>4.03%</string>
		</dict>
		<dict>
			<key>5年(60期)</key>
			<string>4.03%</string>
		</dict>
		<dict>
			<key>6年(72期)</key>
			<string>4.13%</string>
		</dict>
		<dict>
			<key>7年(84期)</key>
			<string>4.13%</string>
		</dict>
		<dict>
			<key>8年(96期)</key>
			<string>4.13%</string>
		</dict>
		<dict>
			<key>9年(108期)</key>
			<string>4.13%</string>
		</dict>
		<dict>
			<key>10年(120期)</key>
			<string>4.13%</string>
		</dict>
		<dict>
			<key>11年(132期)</key>
			<string>4.13%</string>
		</dict>
		<dict>
			<key>12年(144期)</key>
			<string>4.13%</string>
		</dict>
		<dict>
			<key>13年(156期)</key>
			<string>4.13%</string>
		</dict>
		<dict>
			<key>14年(168期)</key>
			<string>4.13%</string>
		</dict>
		<dict>
			<key>15年(180期)</key>
			<string>4.13%</string>
		</dict>
		<dict>
			<key>16年(192期)</key>
			<string>4.13%</string>
		</dict>
		<dict>
			<key>17年(204期)</key>
			<string>4.13%</string>
		</dict>
		<dict>
			<key>18年(216期)</key>
			<string>4.13%</string>
		</dict>
		<dict>
			<key>19年(228期)</key>
			<string>4.13%</string>
		</dict>
		<dict>
			<key>20年(240期)</key>
			<string>4.13%</string>
		</dict>
		<dict>
			<key>21年(252期)</key>
			<string>4.13%</string>
		</dict>
		<dict>
			<key>22年(264期)</key>
			<string>4.13%</string>
		</dict>
		<dict>
			<key>23年(276期)</key>
			<string>4.13%</string>
		</dict>
		<dict>
			<key>24年(288期)</key>
			<string>4.13%</string>
		</dict>
		<dict>
			<key>25年(300期)</key>
			<string>4.13%</string>
		</dict>
		<dict>
			<key>26年(312期)</key>
			<string>4.13%</string>
		</dict>
		<dict>
			<key>27年(324期)</key>
			<string>4.13%</string>
		</dict>
		<dict>
			<key>28年(336期)</key>
			<string>4.13%</string>
		</dict>
		<dict>
			<key>29年(348期)</key>
			<string>4.13%</string>
		</dict>
		<dict>
			<key>30年(360期)</key>
			<string>4.13%</string>
		</dict>
	</array>
	<key>15年3月1日利率下限(85折)</key>
	<array>
		<dict>
			<key>1年(12期)</key>
			<string>4.55%</string>
		</dict>
		<dict>
			<key>2年(24期)</key>
			<string>4.89%</string>
		</dict>
		<dict>
			<key>3年(36期)</key>
			<string>4.89%</string>
		</dict>
		<dict>
			<key>4年(48期)</key>
			<string>4.89%</string>
		</dict>
		<dict>
			<key>5年(60期)</key>
			<string>4.89%</string>
		</dict>
		<dict>
			<key>6年(72期)</key>
			<string>5.02%</string>
		</dict>
		<dict>
			<key>7年(84期)</key>
			<string>5.02%</string>
		</dict>
		<dict>
			<key>8年(96期)</key>
			<string>5.02%</string>
		</dict>
		<dict>
			<key>9年(108期)</key>
			<string>5.02%</string>
		</dict>
		<dict>
			<key>10年(120期)</key>
			<string>5.02%</string>
		</dict>
		<dict>
			<key>11年(132期)</key>
			<string>5.02%</string>
		</dict>
		<dict>
			<key>12年(144期)</key>
			<string>5.02%</string>
		</dict>
		<dict>
			<key>13年(156期)</key>
			<string>5.02%</string>
		</dict>
		<dict>
			<key>14年(168期)</key>
			<string>5.02%</string>
		</dict>
		<dict>
			<key>15年(180期)</key>
			<string>5.02%</string>
		</dict>
		<dict>
			<key>16年(192期)</key>
			<string>5.02%</string>
		</dict>
		<dict>
			<key>17年(204期)</key>
			<string>5.02%</string>
		</dict>
		<dict>
			<key>18年(216期)</key>
			<string>5.02%</string>
		</dict>
		<dict>
			<key>19年(228期)</key>
			<string>5.02%</string>
		</dict>
		<dict>
			<key>20年(240期)</key>
			<string>5.02%</string>
		</dict>
		<dict>
			<key>21年(252期)</key>
			<string>5.02%</string>
		</dict>
		<dict>
			<key>22年(264期)</key>
			<string>5.02%</string>
		</dict>
		<dict>
			<key>23年(276期)</key>
			<string>5.02%</string>
		</dict>
		<dict>
			<key>24年(288期)</key>
			<string>5.02%</string>
		</dict>
		<dict>
			<key>25年(300期)</key>
			<string>5.02%</string>
		</dict>
		<dict>
			<key>26年(312期)</key>
			<string>5.02%</string>
		</dict>
		<dict>
			<key>27年(324期)</key>
			<string>5.02%</string>
		</dict>
		<dict>
			<key>28年(336期)</key>
			<string>5.02%</string>
		</dict>
		<dict>
			<key>29年(348期)</key>
			<string>5.02%</string>
		</dict>
		<dict>
			<key>30年(360期)</key>
			<string>5.02%</string>
		</dict>
	</array>
	<key>15年3月1日利率上限(1.1倍)</key>
	<array>
		<dict>
			<key>1年(12期)</key>
			<string>5.89%</string>
		</dict>
		<dict>
			<key>2年(24期)</key>
			<string>6.33%</string>
		</dict>
		<dict>
			<key>3年(36期)</key>
			<string>6.33%</string>
		</dict>
		<dict>
			<key>4年(48期)</key>
			<string>6.33%</string>
		</dict>
		<dict>
			<key>5年(60期)</key>
			<string>6.33%</string>
		</dict>
		<dict>
			<key>6年(72期)</key>
			<string>6.49%</string>
		</dict>
		<dict>
			<key>7年(84期)</key>
			<string>6.49%</string>
		</dict>
		<dict>
			<key>8年(96期)</key>
			<string>6.49%</string>
		</dict>
		<dict>
			<key>9年(108期)</key>
			<string>6.49%</string>
		</dict>
		<dict>
			<key>10年(120期)</key>
			<string>6.49%</string>
		</dict>
		<dict>
			<key>11年(132期)</key>
			<string>6.49%</string>
		</dict>
		<dict>
			<key>12年(144期)</key>
			<string>6.49%</string>
		</dict>
		<dict>
			<key>13年(156期)</key>
			<string>6.49%</string>
		</dict>
		<dict>
			<key>14年(168期)</key>
			<string>6.49%</string>
		</dict>
		<dict>
			<key>15年(180期)</key>
			<string>6.49%</string>
		</dict>
		<dict>
			<key>16年(192期)</key>
			<string>6.49%</string>
		</dict>
		<dict>
			<key>17年(204期)</key>
			<string>6.49%</string>
		</dict>
		<dict>
			<key>18年(216期)</key>
			<string>6.49%</string>
		</dict>
		<dict>
			<key>19年(228期)</key>
			<string>6.49%</string>
		</dict>
		<dict>
			<key>20年(240期)</key>
			<string>6.49%</string>
		</dict>
		<dict>
			<key>21年(252期)</key>
			<string>6.49%</string>
		</dict>
		<dict>
			<key>22年(264期)</key>
			<string>6.49%</string>
		</dict>
		<dict>
			<key>23年(276期)</key>
			<string>6.49%</string>
		</dict>
		<dict>
			<key>24年(288期)</key>
			<string>6.49%</string>
		</dict>
		<dict>
			<key>25年(300期)</key>
			<string>6.49%</string>
		</dict>
		<dict>
			<key>26年(312期)</key>
			<string>6.49%</string>
		</dict>
		<dict>
			<key>27年(324期)</key>
			<string>6.49%</string>
		</dict>
		<dict>
			<key>28年(336期)</key>
			<string>6.49%</string>
		</dict>
		<dict>
			<key>29年(348期)</key>
			<string>6.49%</string>
		</dict>
		<dict>
			<key>30年(360期)</key>
			<string>6.49%</string>
		</dict>
	</array>
	<key>15年3月1日基准利率</key>
	<array>
		<dict>
			<key>1年(12期)</key>
			<string>5.35%</string>
		</dict>
		<dict>
			<key>2年(24期)</key>
			<string>5.75%</string>
		</dict>
		<dict>
			<key>3年(36期)</key>
			<string>5.75%</string>
		</dict>
		<dict>
			<key>4年(48期)</key>
			<string>5.75%</string>
		</dict>
		<dict>
			<key>5年(60期)</key>
			<string>5.75%</string>
		</dict>
		<dict>
			<key>6年(72期)</key>
			<string>5.90%</string>
		</dict>
		<dict>
			<key>7年(84期)</key>
			<string>5.90%</string>
		</dict>
		<dict>
			<key>8年(96期)</key>
			<string>5.90%</string>
		</dict>
		<dict>
			<key>9年(108期)</key>
			<string>5.90%</string>
		</dict>
		<dict>
			<key>10年(120期)</key>
			<string>5.90%</string>
		</dict>
		<dict>
			<key>11年(132期)</key>
			<string>5.90%</string>
		</dict>
		<dict>
			<key>12年(144期)</key>
			<string>5.90%</string>
		</dict>
		<dict>
			<key>13年(156期)</key>
			<string>5.90%</string>
		</dict>
		<dict>
			<key>14年(168期)</key>
			<string>5.90%</string>
		</dict>
		<dict>
			<key>15年(180期)</key>
			<string>5.90%</string>
		</dict>
		<dict>
			<key>16年(192期)</key>
			<string>5.90%</string>
		</dict>
		<dict>
			<key>17年(204期)</key>
			<string>5.90%</string>
		</dict>
		<dict>
			<key>18年(216期)</key>
			<string>5.90%</string>
		</dict>
		<dict>
			<key>19年(228期)</key>
			<string>5.90%</string>
		</dict>
		<dict>
			<key>20年(240期)</key>
			<string>5.90%</string>
		</dict>
		<dict>
			<key>21年(252期)</key>
			<string>5.90%</string>
		</dict>
		<dict>
			<key>22年(264期)</key>
			<string>5.90%</string>
		</dict>
		<dict>
			<key>23年(276期)</key>
			<string>5.90%</string>
		</dict>
		<dict>
			<key>24年(288期)</key>
			<string>5.90%</string>
		</dict>
		<dict>
			<key>25年(300期)</key>
			<string>5.90%</string>
		</dict>
		<dict>
			<key>26年(312期)</key>
			<string>5.90%</string>
		</dict>
		<dict>
			<key>27年(324期)</key>
			<string>5.90%</string>
		</dict>
		<dict>
			<key>28年(336期)</key>
			<string>5.90%</string>
		</dict>
		<dict>
			<key>29年(348期)</key>
			<string>5.90%</string>
		</dict>
		<dict>
			<key>30年(360期)</key>
			<string>5.90%</string>
		</dict>
	</array>
</dict>
</plist>
