<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HWIntroductionView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>29B4A9941BF0346A000C3273</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>29B4A9AD1BF0346A000C3273</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>29B4A9B81BF0346A000C3273</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
